@charset "utf-8";

/* 폰트연결 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Ibarra Real Nova', serif; */

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
/* font-family: 'Jacques Francois', serif; */

*{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}


